html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#frame{
    position: absolute;
    border:none;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.box{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
.box p{
    font-family: 'Open Sans', sans-serif;
    font-size: 7vw;
    font-weight: 100;
    padding-bottom: 5%;
    color: white;
    text-align: center;
    margin: 0;
}
.box form{
    display: flex;
    align-content: center;
    width: 100%;
    align-self: center;
}
.box input{
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 10rem;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    background-color: #32096b;
}

input:hover{
    transition: 0.5s;
    background: white;
    color: #32096b;
    border: 1px solid white;
}
h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgba(39, 39, 39, 0.925);
    font-size: 5vw;
}

#text{
    font-family: 'Open Sans', sans-serif;
    padding: 5rem;
    height: 50%;
    text-align: center;
    color: rgba(39, 39, 39, 0.925);
    font-size: 2vw;
}

@media only screen and (max-width: 900px){
.box p{
    font-size: 10vw;
}
h1{
    font-size: 8vw;
}
#text{
    font-size: 4vw;
    padding: 2rem;
}
}